{% extends "_includes/layouts/layout.njk" %}
{% block title %}Htmx Demo {% endblock %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="/">Demos</a></li>
                <li>Htmx</li>
            </ul>
        </div>

        <div class="tabs" hx-target="#target">
            <a class="tab tab-bordered" hx-get="fragments/client-side-template">
                Client Side Template
            </a>
            <a class="tab tab-bordered" hx-get="fragments/click-to-edit">
                Click To Edit
            </a>
        </div>

    </div>

    <div class="container px-6 py-3 mx-auto">
        <div id="target"></div>
    </div>

    <script type="module" src="/htmx/htmx.js"></script>
{% endblock %}