{%- from "_macros/component.njk" import component -%}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Nunjucks Starter{% endblock %}</title>

    <link href="/main.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}

    <script type="module" src="/main.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>

<div class="container px-6 py-3 mx-auto">
    {% include "./navbar.njk" %}
</div>

<div id="hx-content">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}

</body>
</html>

