{% set navItems = [
    {route: '/htmx/htmx', title: 'Htmx'},
    {route: '/markdown', title: 'Markdown'},
    {route: '/components', title: 'Components'},
    {route: '/python', title: 'Python'},
    {route: '/mermaid', title: 'Mermaid'},
    {route: '/ace', title: 'Ace Editor'},
    {route: '/sortable/sortable', title: 'Sortable'}
] %}

{% set requestUrl = req.originalUrl.split()[0] %}

<div class="navbar" id="navbar" hx-swap-oob="true">
    <div class="navbar-center"
         hx-boost="true"
         hx-select="#hx-content"
         hx-target="#hx-content"
         hx-swap="outerHTML show:window:top"
    >
        <a class="btn btn-ghost normal-case text-xl" href="/">daisyUI</a>
        <ul class="tabs">
            {% for item in navItems %}
                {% set isActive = item.route == requestUrl  %}
                <li><a class="tab tab-bordered {{ "tab-active" if isActive else "" }}" href="{{ item.route }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="navbar-end">
        {% include "./theme-changer.njk" %}
    </div>
</div>
