{% extends "./layouts/layout.njk" %}
{% block scripts %}
    <script src="//unpkg.com/htmx.org@1.7.0"></script>
    <script src="//unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="//mozilla.github.io/nunjucks/files/nunjucks.js"></script>
{% endblock %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="/">Demos</a></li>
                <li>Htmx</li>
            </ul>
        </div>

        <ul>
            <li>
                <div hx-get="/client-side-template" hx-target="#target">
                    <a class="link">Client Side Template Demo</a>
                </div>
            </li>
            <li>
                <div hx-get="/click-to-edit" hx-target="#target">
                    <a class="link">Click To Edit</a>
                </div>
            </li>
        </ul>

        <div id="target"></div>
    </div>
{% endblock %}