{% extends "_includes/layouts/layout.njk" %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <section class="prose">
            {% markdown 'README.md' %}
        </section>
    </div>
{% endblock %}