{% extends "_includes/layouts/layout.njk" %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li>Demos</li>
            </ul>
        </div>

        <ul>
            <li>
                <a class="link" href="/markdown-demo">Markdown</a>
            </li>
            <li>
                <a class="link" href="/htmx-demo">Htmx</a>
            </li>
            <li>
                <a class="link" href="/components-demo">Components</a>
            </li>
        </ul>
    </div>
{% endblock %}