{% extends "_includes/layouts/layout.njk" %}
{% block title %}Markdown Demo {% endblock %}

{% block content %}
    <link rel="stylesheet" href="markdown.css">

    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="/">Demos</a></li>
                <li>Markdown</li>
            </ul>
        </div>

        <section class="prose">
            {% markdown '_markdown/demo.md' %}
        </section>
    </div>

    <script type="module" src="markdown.js"></script>
    <script type="module">
      mermaid.init()
    </script>
{% endblock %}