{% extends "_includes/layouts/layout.njk" %}
{% block title %}Mermaid Demo {% endblock %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="/">Demos</a></li>
                <li>Mermaid</li>
            </ul>
        </div>

        <div class="mermaid">
            graph TD
            A[Client] --> B[Load Balancer]
            B --> C[Server01]
            B --> D[Server02]
        </div>
    </div>

    <script type="module" src="mermaid.js"></script>
    <script type="module">
      mermaid.init()
    </script>
{% endblock %}