{% extends "_includes/layouts/layout.njk" %}
{% block title %}Python Demo {% endblock %}

{% block content %}
    <div class="container px-6 py-3 mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="/">Demos</a></li>
                <li>Python</li>
            </ul>
        </div>

        <div class="tabs" hx-target="#target">
            <a class="tab tab-bordered" hx-get="/python/add/2/3" >Add 2 + 3 =</a>
            <a class="tab tab-bordered" hx-get="/pandas/random" hx-target="#target">Pandas</a>
        </div>
    </div>

    <div class="container px-6 py-3 mx-auto">
        <div id="target"></div>
    </div>
{% endblock %}